<div class="page-content">
  <h1>Contact</h1>
  <ng-container *ngIf="profile$ | async as profile">
    <div class="liens-externes">
      <div *ngIf="profile.email">
        <h2>email</h2>
        <a href="mailto:{{profile.email}}">{{profile.email}}</a>
      </div>

      <div *ngIf="liens$ | async as liens">
        <h2>reseau</h2>
        <ng-container *ngFor="let lien of liens">
          <a [href]="lien.url" target="_blank">
            <img [src]="getFileUrl(lien.logo.data.attributes.name)" alt="">
            {{lien.nom}}
          </a>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <form [formGroup]="emailForm" (ngSubmit)="sendEmail($event)">
    <div id="corp">
      <div id="nom-prenom">
        <input type="text" id="nom" formControlName="nom" name="nom" placeholder="Nom" required>
        <input type="text" id="prenom" formControlName="prenom" name="prenom" placeholder="Prenom" required>
      </div>
      <input type="email" id="email" formControlName="email" name="email" placeholder="Email" required>
      <textarea id="message" formControlName="message" name="message" placeholder="Message" required></textarea>
    </div>
    <button type="submit" [disabled]="emailForm.invalid">Envoyer</button>
  </form>
</div>
