<div class="page-content">
  <h1>Contact</h1>
  <div class="liens-externes">
    <div>
      <h2>email</h2>
      <a href="mailto:{{profile.email}}">{{profile.email}}</a>
    </div>
    <div>
      <h2>reseau</h2>
      <ng-container *ngFor="let lien of getLiens()">
        <a [href]="lien.url">{{lien.nom}}</a>
      </ng-container>
    </div>
  </div>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" id="nom" formControlName="nom" name="nom" placeholder="Nom" required>
      <input type="text" id="prenom" formControlName="prenom" name="prenom" placeholder="Prenom" required>
    </div>
    <div>
      <input type="email" id="email" formControlName="email" name="email" placeholder="Email" required>
    </div>
    <div>
      <textarea id="message" formControlName="message" name="message" placeholder="Message" required></textarea>
    </div>
    <button type="submit">Envoyer</button>
  </form>
</div>
