$iconPath: '/assets/pixelated-interface-icons/';

.page-content{
  width: 90vw;
  overflow: hidden;
  box-sizing: border-box;
  ::ng-deep .pdfViewer.removePageBorders .page {
    margin: 0 !important;
  }

  #navbar-pdf {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;

    button {
      width: 40px;
      aspect-ratio: 1/1;
      background-color: rgba(0,0,0,0.9);
      border-radius: 100%;
      border: none;
      padding: 5px;
      box-sizing: border-box;
      cursor: pointer;

      &#fermer .icon { mask-image: url(#{$iconPath}stop-svgrepo-com.svg); }
      &#zoomIn .icon { mask-image: url(#{$iconPath}zoom-up-svgrepo-com.svg); }
      &#zoomOut .icon { mask-image: url(#{$iconPath}zoom-down-svgrepo-com.svg); }
      &#partager .icon { mask-image: url(#{$iconPath}share-svgrepo-com.svg); }
      &#telecharger .icon { mask-image: url(#{$iconPath}download-svgrepo-com.svg); }

      .icon {
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: contain;
        background: white;
        width: 100%;
        height: 100%;
      }
    }
  }
}

