
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "app/shared/styles/fonts";
@import "app/shared/styles/breakpoints";

html {
  background: rgba(63, 58, 107, 0.13); // /!\ Temporaire
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

p, input, textarea, ul, li, table, th, td {
  font-family: Corbel, "Rubik", sans-serif;
  font-variant-numeric: lining-nums;
  font-weight: 400;
  font-size: 16px;
}

textarea {
  &::placeholder {
    font-family: Corbel, "Rubik", sans-serif;
    font-variant-numeric: lining-nums;
    font-weight: 400;
    font-size: 16px;
  }
}

input {
  &::placeholder {
    font-family: Corbel, "Rubik", sans-serif;
    font-variant-numeric: lining-nums;
    font-weight: 400;
    font-size: 16px;
  }
}

.article-dialog .mat-mdc-dialog-container {
  overflow: hidden;

  @media (orientation: landscape) {
    width: auto;
    max-width: 80vw;
  }
}

.pdf-dialog {
  width: 90vw;
  aspect-ratio: 1/1.413;
  min-width: min-content !important;
  max-width: initial !important;




  @include bp-landscape{
    aspect-ratio: initial;
    width: initial;
    height: 90vh;
  }
}
