<div class="page-content">
  <ng-container *ngIf="isLoading$ | async">
    <div class="loading">Chargement des projets...</div>
  </ng-container>

  <ng-container *ngIf="(projets$ | async) as projets">
    <div *ngIf="projets.length === 0 && !(isLoading$ | async)" class="no-data">
      Aucun projet disponible pour le moment.
    </div>

    <div *ngFor="let projet of sortProjets(projets)" class="card">
      <div class="top">
        <h3>{{projet.titre}}</h3>
        <p>{{projet.description}}</p>
        <button
          *ngIf="projet.articles.data.length !== 0"
          (click)="openArticle(projet.articles.data[0].id)"
        >Curieux -></button>
      </div>
      <div
        class="bottom"
        [ngStyle]="{
          'background-image': 'url(' + (projet.cover?.data ? (projet.cover.data.attributes.name | fileUrl) : '') + ')'
        }"
      >
        <h3>{{projet.titre}}</h3>
        <div class="info">
          <div class="date">
            <span>{{projet.dateDebut | date:'dd.MM.yyyy'}}</span>
<!--            <span *ngIf="projet.dateFin"> - {{projet.dateFin | date:'dd.MM.yyyy'}}</span>-->
          </div>
          <div class="techno">
            <span *ngFor="let tech of projet.technologies.data.slice(0, 3)">
              {{tech.attributes.nom}}
            </span>
            <span *ngIf="projet.technologies.data.length > 3">+{{projet.technologies.data.length - 3}}</span>
          </div>
        </div>
        <div class="linear" *ngIf="projet.articles.data.length !== 0">
          <button (click)="openArticle(projet.articles.data[0].id)">Curieux -></button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
