<ng-container *ngIf="isLoading$ | async">
  <div class="loading">Chargement des informations...</div>
</ng-container>

<ng-container *ngIf="profile$ | async as profile">
  <markdown [data]="profile.descriptionAPropos"></markdown>
  <div *ngIf="cvUrl$ | async" id="cv-btn">
    <h3>Curriculum Vitae</h3>
    <a [href]="apiUrl + profile.cv?.data?.attributes?.url" target="_blank" id="pastilles">
      <div id="cv"></div>
    </a>
<!--    <div (click)="openPDF()" id="pastilles">-->
<!--      <div id="cv"></div>-->
<!--    </div>-->
  </div>
<!--  <button *ngIf="cvUrl$ | async" (click)="openPDF()">Voir mon CV</button>-->
</ng-container>
